global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend demo-http
    bind *:80
    bind *:443 ssl crt /etc/haproxy/certs/demo.local.pem alpn h2,http/1.1
    redirect scheme https if !{ ssl_fc }
    
    acl host_proxy          hdr(host) -i proxy.demo.local
    acl host_dns            hdr(host) -i dns.demo.local
    acl host_monitoring     hdr(host) -i monitoring.demo.local cos-lite-ps7.demo.local
    acl host_gitlab         hdr(host) -i gitlab.demo.local
    acl host_jenkins        hdr(host) -i jenkins.demo.local
    acl host_api            hdr(host) -i api.demo.local
    
    use_backend proxy       if host_proxy
    use_backend dns         if host_dns
    use_backend monitoring  if host_monitoring
    use_backend gitlab      if host_gitlab
    use_backend jenkins     if host_jenkins
    use_backend api         if host_api
    
    default_backend monitoring

backend proxy
    balance roundrobin
    server proxy1 10.142.65.2:3128 check

backend dns
    balance roundrobin
    server dns1 10.142.65.3:53 check

backend monitoring
    balance roundrobin
    server monitoring1 10.142.65.5:3000 check

backend gitlab
    balance roundrobin
    server gitlab1 10.142.65.10:80 check

backend jenkins
    balance roundrobin
    server jenkins1 10.142.65.11:8080 check

backend api
    balance roundrobin
    server api1 10.142.65.12:80 check

# Stats page
listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
